.ob-jupyter/
.vscode/
.auctex-auto/
ClassFiles/__pycache__
/.DS_Store
/data/
/__pycache__/
/Neural_Networks/__pycache__/
/Neural_Networks_lunglike/ClassFiles/__pycache__/GeneratedDataset.cpython-38.pyc
